.fb {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 33%);
	align-items: center;
	justify-items: center;
	text-align: center;
	.reasons, .skip, .note {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 15% 70% 15%;
		justify-items: center;
		@media screen and (min-width: 40em) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			text-align: left;
		}
	}
	.reasons {
		grid-column: 1;
		grid-row: 1;
		h1 {
			grid-column: 1;
			grid-row: 1;
			padding: 0rem 2rem;
		}
		img {
			grid-column: 1;
			grid-row: 2;
			width: 80%;
			object-fit: cover;
		}
		p {
			grid-column: 1;
			grid-row: 3;
			padding: 0rem 2rem 2rem 2rem;
		}
		@media screen and (min-width: 40em) {
			h1 {
				grid-column: 1;
				grid-row: 1;
				align-self: end;
			}
			img {
				padding: 1rem 0rem;
				grid-column: 2;
				grid-row: 1 / span 2;
			}
			p {
				grid-column: 1;
				grid-row: 2;
				align-self: start;
			}
		}
	}
	.skip {
		grid-column: 1;
		grid-row: 2;
		background-color: darken($pale, 10%);
		h1 {
			padding: 1rem 2rem 0rem 2rem;
		}
		img {
			width: 80%;
			object-fit: cover;
		}
		p {
			padding: 0rem 2rem 2rem 2rem;
		}
		@media screen and (min-width: 40em) {
			h1 {
				grid-column: 2;
				grid-row: 1;
				align-self: end;
			}
			img {
				padding: 1rem 0rem;
				grid-column: 1;
				grid-row: 1 / span 2;
			}
			p {
				grid-column: 2;
				grid-row: 2;
				align-self: start;
			}
		}
	}
	.note {
		grid-column: 1;
		grid-row: 3;
		h1 {
			padding: 0rem 2rem;
		}
		img {
			width: 80%;
			object-fit: cover;
		}
		p {
			margin-top: 0;
			padding: 0rem 2rem 2rem 2rem;
		}
		@media screen and (min-width: 40em) {
			h1 {
				grid-column: 1;
				grid-row: 1;
				align-self: end;
			}
			img {
				padding: 1rem 0rem;
				grid-column: 2;
				grid-row: 1 / span 2;
			}
			p {
				grid-column: 1;
				grid-row: 2;
				align-self: start;
			}
		}
	}
}


.fb {
	@media screen and (min-width: 60em) {
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template-columns: repeat(3, 32%);
		grid-template-rows: 1fr;
		grid-gap: 1rem;
		.reasons, .skip, .note {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 15% 70% 15%;
			justify-items: center;
			text-align: center;
		}
		.reasons {
			grid-column: 1;
			grid-row: 1;
			padding-top: 2rem;
			h1 {
				grid-column: 1;
				grid-row: 1;
				padding: 0rem 3rem;
			}
			img {
				grid-column: 1;
				grid-row: 2;
				width: 50%;
			}
			p {
				grid-column: 1;
				grid-row: 3;
				padding: 0rem 4rem 2rem 4rem;
			}
		}
		.skip {
			grid-column: 2;
			grid-row: 1;
			padding-top: 2rem;
			h1 {
				grid-column: 1;
				grid-row: 1;
				padding: 0rem 3rem;
			}
			img {
				grid-column: 1;
				grid-row: 2;
				width: 50%;
			}
			p {
				grid-column: 1;
				grid-row: 3;
				padding: 0rem 4rem 2rem 4rem;
			}
		}
		.note {
			grid-column: 3;
			grid-row: 1;
			padding-top: 2rem;
			h1 {
				grid-column: 1;
				grid-row: 1;
				padding: 0rem 3rem;
			}
			img {
				grid-column: 1;
				grid-row: 2;
				width: 50%;
			}
			p {
				grid-column: 1;
				grid-row: 3;
				padding: 0rem 4rem 2rem 4rem;
			}
		}
	}
}