.faq {
	width: 100%;
	background-color: darken($pale, 10%);
	padding-bottom: 1rem;
	text-align: left;
	h1 {
		padding-top: 1rem;
		margin: 0;
		font-size: 4rem;
		text-align: center;
	}
	.one, .two, .three {
		margin: 1rem;
		padding: 1rem;
		border-radius: 2rem;
		background-color: $orange;
		color: $pale;
		@media screen and (min-width: 40em) {
			margin: 1rem 4rem;
			padding: 1.5rem;
		}
	}
	@media screen and (min-width: 60em) {
		display: grid;
		grid-template-columns: repeat(3, 32%);
		grid-template-rows: 15% 85%;
		h1 {
			grid-column: 1 / span 3;
			grid-row: 1;
		}
		.one {
			grid-column: 1;
			grid-row: 2;
		}
		.two {
			grid-column: 2;
			grid-row: 2;
		}
		.three {
			grid-column: 3;
			grid-row: 2;
		}
	}
}