.hero {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat (3, 1fr);
	align-items: center;
	justify-items: center;
	width: 100%;
	height: calc(100vh - 113px);
	padding-top: 2rem;
	text-align: center;
	.lead {
		grid-column: 1;
		grid-row: 1;
		h2 {
			padding: 0rem 1rem;
		}
	}
	img {
		grid-column: 1;
		grid-row: 2;
		align-self: end;
		width: 100%;
		height: 100%;
		transform: translateY(2%);
		z-index: 0;
	}
	.google {
		grid-column: 1;
		grid-row: 3;
		background-color: $red;
		color: $pale;
		z-index: 1;
		h3 {
			margin-bottom: 0;
			padding-top: 1rem;
		}
		img {
			width: 50%;
		}
		p {
			margin-top: 0;
			padding-bottom: 1rem;
		}
	}
}